.location_filter_wrapper {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 50px 0;
}
.location_filter_wrapper input {
  font-family: "Montserrat";
  height: 50px;
  width: 100%;
  border: none;
  background: #3d3d3d;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px;
  appearance: none;
  cursor: pointer;
}
.filter {
  position: relative;
  width: 300px;
}

.location_filter_wrapper input:focus {
  outline: none;
  border: 1px solid #666;
}

.locations_list_wrapper {
  width: 100%;
}
