.watch_list_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.watch_list_search {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.episode_autocomplete_wrapper {
  position: relative;
}

.episode_autocomplete_wrapper input {
  height: 50px;
  width: 300px;
  border: none;
  background: #3d3d3d;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px;
  appearance: none;
  cursor: pointer;
}

.episode_autocomplete_wrapper input:focus {
  outline: none;
  border: 1px solid #666;
}

#add_to_watch_list {
  background: #cb58d1;
  border: none;
  border-radius: 14px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  margin-left: 70px;
  outline: none;
  width: 240px;
}

.episodes_suggestion {
  position: absolute;
  background-color: white;
  color: black;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 2px;
}

.episodes_suggestion div {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 9px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: none;
}

.episodes_suggestion div:hover {
  background-color: #e9e9e9;
}

#watch_list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#watch_list div {
  display: flex;
  background-color: #333;
  border-radius: 15px;
  color: #cb58d1;
  font-size: 20px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 0 40px;
  width: 80%;
}

#watch_list button {
  all: unset;
  color: #000;
  font-size: 40px;
}

.watch {
  border-radius: 5px;
  height: 20px;
  width: 20px;
}

#watch_list h5 {
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .watch_list_search {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #add_to_watch_list {
    margin-left: 0;
  }
  #watch_list button {
    font-size: 36px;
  }
  #watch_list div {
    font-size: 18px;
  }
}

@media screen and (max-width: 630px) {
  #watch_list button {
    font-size: 32px;
  }
  #watch_list div {
    font-size: 16px;
  }
}
